*~
._*
.env
.idea
/.idea
/vendor
/.vscode
/.vagrant
*.DS_Store
/public/hot
*._.DS_Store
composer.lock
.fuse_hidden*
/node_modules
npm-debug.log
yarn-error.log
/storage/*.key
Homestead.json
Homestead.yaml
/public/storage
.phpunit.result.cache
